@model WineStore.WebSite.Models.Admin.AdminHomeViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1>Welcome @Model.UserName</h1>
        <h2>To Admin Dashboard</h2>
    </header>
    <main class="dashboard-grid">
        @foreach (var link in Model.NavigationLinkViewModel)
        {
            <a class="dashboard-link" asp-area="@link.Area" asp-controller="@link.Controller" asp-action="@link.Action">
                <button class="dashboard-button">
                    <i class="@link.Icon"></i> @link.Text
                </button>
            </a>
        }
    </main>
</body>
</html>
