@model WineStore.WebSite.Models.Admin.AdminHomeViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Admin Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
        .dashboard-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 10px;
            padding: 20px;
        }

        .dashboard-button {
            padding: 10px;
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px; /* Adjust this to change the size of the titles */
            margin: 4px 2px;
            cursor: pointer;
            width: 100%; /* Make the button full width for a mobile app look */
        }
    </style>
</head>
<body>
    <h1>Welcome @Model.UserName</h1>
    <h2>Dashboard</h2>
    <div class="dashboard-grid">

        @foreach (var link in Model.NavigationLinkViewModel)
        {
            <a asp-area="@link.Area" asp-controller="@link.Controller" asp-action="@link.Action">
                <button class="dashboard-button">
                    <i class="@link.Icon"></i> 
                @link.Text
                </button>
            </a>
        }
    </div>
</body>
</html>
