@model IEnumerable<WineStore.WebSite.Models.StoreManager.ExpenseViewModel>

@{
    ViewData["Title"] = "ListOfExpenses";
}

<h1>ListOfExpenses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expense_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Expense_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expense_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.Expense_ID}) |
                @Html.ActionLink("Details", "Details", new {  id=item.Expense_ID }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Expense_ID })
            </td>
        </tr>
}
    </tbody>
</table>
